{% import 'bootstrap/wtf.html' as wtf%}
<link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Concert+One|Great+Vibes" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Arima+Madurai|Concert+One|Great+Vibes" rel="stylesheet">

<nav>
  <ul class="top-menu" style="">
     <li> <a href="/">Home</a><div class="menu-item" id="home"></div></li>
    <li><a href="{{url_for('main.new_pitch')}}">Blog </a><div class="menu-item" id="cataloge"></div></li>
    <li><a href="{{url_for('main.new_comment')}}">Comment</a><div class="menu-item" id="price"></div></li>
    <li> <a href="{{url_for('auth.login')}}">Login</a><div class="menu-item" id="about"></div></li>
    <li><a href=#>Contact</a><div class="menu-item" id="contact"></div></li>
    <li><a href="{{url_for('auth.logout')}}">Sign out</a><div class="menu-item" id="cataloge"></div></li>
    <li> <a href="https://www.twitter.com/@BriKaimba">Share</a><div class="menu-item" id="about"></div></li>

   
  </ul>
</nav>


<img src="static/images/blog4.gif" style="width: 100%; height: 400px; margin-top: -250px">
<div class="centered" style="font-size: 60px; margin-top: -150px;font-family: 'Concert One', cursive; font-weight: bold;     color: #C2185B;">Bri's Travel Blog</div>
<div class="centered" style="font-size: 30px; margin-top: -100px;font-family: 'Great Vibes', cursive; color: #03142B;">Discover the world with Bri</div>
<div class="navbar navbar-inverse opaque-navbar" style=" margin-top: -59px">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navMain">
  <span class="glyphicon glyphicon-chevron-right" style="color:white;"></span>
    
  </button>
      <a class="navbar-brand" href="#" style="color: white; font-weight: bold;">Premium Travel</a>
    </div>
    <div class="collapse navbar-collapse" id="navMain">
      <ul class="nav navbar-nav pull-right">
        
        <li><a href="#" style="color: white; font-weight: bold; border-right: 1px solid #DDD;">Travel Blog</a></li>

        <li><a href="#" style="color: white; font-weight: bold; border-right: 1px solid #DDD;">Travel Tips</a></li>

        <li><a href="#" style="color: white; font-weight: bold; border-right: 1px solid #DDD;">Photos</a></li>
        <li><a href="#" style="color: white; font-weight: bold; border-right: 1px solid #DDD;">Videos</a></li>
        <li><a href="#" style="color: white; font-weight: bold;border-right: 1px solid #DDD;">About Blog</a></li> 
        <li><a href="#" style="color: white; font-weight: bold;">Contact Us</a></li> 
      </ul>
    </div>
  </div>
</div>
<div>
  <img src="static/images/blog3.jpg" style="width: 70%; height: 400px; float: right;">
</div>
<div>
<div class="right" style="margin-left: 40px">
      <div class="bts">
      <div class="well" style="margin-top: -10px; width: 330px; background-color: #0288D1; color: white">
         <p style="font-weight: bold;font-size: 20px;font-family: 'Arima Madurai', cursive;">Connect and Chat with Bri </p></div>
         <div class="well" style="width: 330px; background-color: #0288D1">
          <a class="facebook" href="https://www.facebook.com/BriKaimba"><i class="fa fa-check-square"></i> Facebook fan page</a><br><br>
           <a class="google" href="#" style="">Subscribe to Google+</a></i><span></span></a><br><br>
           <a class="twitter"  href="https://www.twitter.com/@BriKaimba"><i class="fa fa-check-square"> </i>Follow on Twitter</a><br><br>
          <a class="instagram" href="https://www.instagram.com/bri_kaimba/"><i class="fa fa-check-square">Like instagram</a></i><span></span></a><br><br>
        <a class="linkedin" href="https://https://www.linkedin.com/Brilliant Kaimba"><i class="fa fa-check-square"> </i>Find me on linkedIn</a></i><span></span></a>
         </div>
        </div>
      </div>
    </div>

 <div class="navbar navbar-inverse opaque-navbar" style=" margin-top: 10px; height: 300px;background-color: #031428">
  <div class="container">
    <div class="navbar-header"  >
<!--    <img src="static/images/blog6.jpg"> -->
     
    <h1 style="background-color: #EEEEEE; color:  #C2185B;">Discover & Explore</h1>
    <h4 style="color: white; text-align: center; font-size: 20px;font-family: 'Arima Madurai', cursive; color: #031428">TRAVELLING ALWAYS "GOOD IDEA"</h4>
    <h5 style="color: white;text-align: center; font-size: 20px;font-family: 'Arima Madurai', cursive; opacity: 0.1s">Solitude nurted by mother nature,Pumada water resort it is a true copy of keralas ancient architecture and ambience brewed with array of international amenitis..Only a few yards from the Nairobi Uhuru park.AWESOOOMEEE!!!</h5>
 
  </div>
    </div>
   
  </div>








{% import 'macro.html' as macro %}

<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css" rel="stylesheet">

<link href='https://fonts.googleapis.com/css?family=Arimo:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Stint+Ultra+Condensed' rel='stylesheet' type='text/css'>


<meta content='width=device-width, initial-scale=1, maximum-scale=1' name='viewport'/>

<style>
  body{
    background-color: #EEEEEE;
  }
</style>
                
        </nav>
      </div>
    </div>
  </header>
      
      </div>

      </div>

  </section>

  </div> 
<div style="font-size: 50px; text-align: center; margin-right: 500px; float: left; ">My Travel Blog</div>
  <a style="margin-bottom: 20px" class="learn-more" target="_blank" href="https://www.gmail.com/"><i class="fa fa-check-square"></i> SUBSCRIBE</a>

  <div class="col-sm-4">
    <div class="well">
<img src="static/images/blog4.jpg" style="width: 360px;height: 200px">
</div>
<div class="well" style="background-color: #03142B; color: white">
  Cruising now appeals to such a wide range of people that there is always a good mix of age groups, families, couples and singles on board. A cruise holiday is a great way to escape from everyday life and to explore many different destinations in one of the most relaxing ways imaginable.

</div>
</div>
</div>
 <div class="col-sm-4">
    <div class="well">
<img src="static/images/blog5.jpg" style="width: 360px;height: 200px">
</div>
<div class="well" style="background-color: #03142B; color: white">
  The obvious difference between flying over water and flying cross country is the absence of land underneath.  So we increase the amount of fuel reserves and have very specific (and stringent) rules for returning to land at various points along the way.Either direction at which we return to the point of origin or continue to the destination if a contingency came up.
</div>
</div>
</div>
 <div class="col-sm-4">
    <div class="well">
<img src="static/images/blog6.jpg" style="width: 360px; height: 200px">
</div>
<div class="well" style="background-color: #03142B; color: white">
  Cruising now appeals to such a wide range of people that there is always a good mix of age groups, families, couples and singles on board. A cruise holiday is a great way to escape from everyday life and to explore many different destinations in one of the most relaxing ways imaginable.
</div>
</div>
</div>
<div style="font-size: 50px; text-align: center; margin-right: 310px">Blogs</div>

<style >

section
{
  background:yellow;
}
.banner
{
  background:red;
  min-height:200px;
}
.banner .row
{
  text-align:center;
  margin-top:50px;
}
.banner h1
{
  color:white;
}


/***********************************************************************
*  OPAQUE NAVBAR SECTION
***********************************************************************/
.opaque-navbar {
    background-color: rgba(0,0,0,0.5);
  /* Transparent = rgba(0,0,0,0) / Translucent = (0,0,0,0.5)  */
    height: 60px;
    border-bottom: 0px;
    transition: background-color .5s ease 0s;
}

.opaque-navbar.opaque {
    background-color: black;
    height: 60px;
    transition: background-color .5s ease 0s;
}

ul.dropdown-menu {
    background-color: black;
}

@media (max-width: 992px) {
  body
  {
    background:red;
  }
  .opaque-navbar {
    background-color: black;
    height: 60px;
    transition: background-color .5s ease 0s;
}

}

.linkedin {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
  width: 260px;
  height:40px;
  padding-top: 10px;
    border: 0px solid #178bb6;
    border-radius: 8px;
    background: #992828;
    background: -webkit-gradient(linear, left top, left bottom, from(#1daee3), to(#1daee3));
    background: -moz-linear-gradient(top, #1daee3, #1daee3);
    background: linear-gradient(to bottom, #1daee3, #1daee3);
    font-family: 'Open Sans', sans-serif;
  font-weight:700;
    background: #37528c;
    text-decoration: none;
    width: 250px;
  margin-left:  8px;
}
.linkedin:hover,
.linkedin:focus {
    background: #37528c;
    color: #ffffff;
    text-decoration: none;
}
.linkedin:active {
    background: #1ca4d6;
}
.linkedin:before{
    content:  "\0000a0";
    display: inline-block;
    height: 50px;
    width: 45px;
    line-height: 24px;
    margin: 0 4px -6px -50px;
    position: relative;
  padding-left: 10px;
    top: -10px;
    left: -21px;
    background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/e/e9/Linkedin_icon.svg/768px-Linkedin_icon.svg.png") no-repeat center center #37528c;
    background-size: 29px 24px;
  -webkit-border-radius: 8px 0px 0px 8px;
  -moz-border-radius: 8px 0px 0px 8px;
  -o-border-radius: 8px 0px 0px 8px;
  -ms-border-radius: 8px 0px 0px 8px;
  border-radius: 8px 0px 0px 8px;
}

.instagram {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
  width: 260px;
  height:40px;
  padding-top: 10px;
    border: 0px solid #178bb6;
    border-radius: 8px;
    background: #C2185B;
    font-family: 'Open Sans', sans-serif;
  font-weight:700;
    color: #ffffff;
    text-decoration: none;
    margin-left: -10px;
}
.instagram:hover,
.instagram:focus {
    background: #C2185B;
    color: #ffffff;
    text-decoration: none;
}
.instagram:active {
    background:#C2185B;
}
.instagram:before{
    content:  "\0000a0";
    display: inline-block;
    height: 50px;
    width: 45px;
    line-height: 24px;
    margin: 0 4px -6px -50px;
    position: relative;
  padding-left: 10px;
    top: -10px;
    left: -15px;
    
    background: url("https://pbs.twimg.com/media/DQRTbaNWsAAp3_G.png") no-repeat center center #C2185B;
    background-size: 24px 24px;
  -webkit-border-radius: 8px 0px 0px 8px;
  -moz-border-radius: 8px 0px 0px 8px;
  -o-border-radius: 8px 0px 0px 8px;
  -ms-border-radius: 8px 0px 0px 8px;
  border-radius: 8px 0px 0px 8px;
}

.twitter {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
  width: 260px;
  height:40px;
  padding-top: 10px;
    border: 0px solid #178bb6;
    border-radius: 8px;
    background: #992828;
    background: -webkit-gradient(linear, left top, left bottom, from(#1daee3), to(#1daee3));
    background: -moz-linear-gradient(top, #1daee3, #1daee3);
    background: linear-gradient(to bottom, #1daee3, #1daee3);
    font-family: 'Open Sans', sans-serif;
  font-weight:700;
    color: #ffffff;
    text-decoration: none;
    width: 250px;
  margin-right: 10px;
}
.twitter:hover,
.twitter:focus {
    background: #1ca4d6;
    color: #ffffff;
    text-decoration: none;
}
.twitter:active {
    background: #1ca4d6;
}
.twitter:before{
    content:  "\0000a0";
    display: inline-block;
    height: 50px;
    width: 45px;
    line-height: 24px;
    margin: 0 4px -6px -50px;
    position: relative;
  padding-left: 10px;
    top: -10px;
    left: -21px;
    background: url("https://i.imgur.com/2ATElSK.png") no-repeat center center #1ca4d6;
    background-size: 29px 24px;
  -webkit-border-radius: 8px 0px 0px 8px;
  -moz-border-radius: 8px 0px 0px 8px;
  -o-border-radius: 8px 0px 0px 8px;
  -ms-border-radius: 8px 0px 0px 8px;
  border-radius: 8px 0px 0px 8px;
}
.facebook {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
  width: 260px;
  height:40px;
  padding-top: 10px;
    border: 0px solid #178bb6;
    border-radius: 8px;
    background: #3b5998;
    font-family: 'Open Sans', sans-serif;
  font-weight:700;
    color: #ffffff;
    text-decoration: none;
  margin-right: 10px;
}
.facebook:hover,
.facebook:focus {
    background: #37528c;
    color: #ffffff;
    text-decoration: none;
}
.facebook:active {
    background: #1ca4d6;
}
.facebook:before{
    content:  "\0000a0";
    display: inline-block;
    height: 50px;
    width: 45px;
    line-height: 24px;
    margin: 0 4px -6px -50px;
    position: relative;
  padding-left: 10px;
    top: -10px;
    left: -10px;
    background: url("https://i.imgur.com/0bcxkOD.png") no-repeat center center #37528c;
    background-size: 13px 24px;
  -webkit-border-radius: 8px 0px 0px 8px;
  -moz-border-radius: 8px 0px 0px 8px;
  -o-border-radius: 8px 0px 0px 8px;
  -ms-border-radius: 8px 0px 0px 8px;
  border-radius: 8px 0px 0px 8px;
}
.google {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
  width: 260px;
  height:40px;
  padding-top: 10px;
    border: 0px solid #178bb6;
    border-radius: 8px;
    background: #d34836;
    font-family: 'Open Sans', sans-serif;
  font-weight:700;
    color: #ffffff;
    text-decoration: none;
}
.google:hover,
.google:focus {
    background: #c74534;
    color: #ffffff;
    text-decoration: none;
}
.google:active {
    background: #1ca4d6;
}
.google:before{
    content:  "\0000a0";
    display: inline-block;
    height: 50px;
    width: 45px;
    line-height: 24px;
    margin: 0 4px -6px -50px;
    position: relative;
  padding-left: 10px;
    top: -10px;
    left: -15px;
    background: url("https://i.imgur.com/GxFF74f.png") no-repeat center center #c74534;
   
    background-size: 24px 24px;
  -webkit-border-radius: 8px 0px 0px 8px;
  -moz-border-radius: 8px 0px 0px 8px;
  -o-border-radius: 8px 0px 0px 8px;
  -ms-border-radius: 8px 0px 0px 8px;
  border-radius: 8px 0px 0px 8px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}


body {
  background: url(http://blog.boxedart.com/images/main-noise.jpg);
}

.container {
  margin: 80px auto;
  width: 300px;
  height: 200px;
}

h1 {
  position: relative;
  padding: 5px 10px;
  color: #fff;
  text-align: center;
  background: #01ADEF;

}

h1:before {
  content: '';
  position: absolute;
  height: 0;
  width: 0;
  bottom: 100%;
  left: 0;
  border-bottom: 10px solid #0299d2;
  border-left: 25px solid transparent;
}

  *{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  -webkit-box-sizing: border-box;
}
*:before,
*:after{
  -webkit-box-sizing: border-box;
}
.clearfix {
  *zoom: 1;
}
html{
  font-family: Helvetica, arial, sans-serif;
  font-size: 12px;
}
body{
  background: url('brushed_alu.png');
}
.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}
.clearfix:after {
  clear: both;
}
.container{
  width: 80%;
  margin: 0 auto;
}
header{
  width: 100%;
  height: auto;
  background: black;
}
.header-left,
.header-right{
  position: relative;
  color: white;
  float: left;
}
.header-left{
  width: 30%;
}
.header-right label{
  position: absolute;
  top: -3.7em;
  right: 0;
  cursor: pointer;
}
.header-right span{
  position: relative;
  width: 2em;
  height: 2em;
  background: rgba(255,255,255,.3);
  -webkit-transition: all .3s ease;
}
.header-right span:hover{
  background: rgba(255,255,255,.6);
}
.header-right span:before,
.header-right span:after{
  content: '';
  position: absolute;
  width: 2em;
  height: .5em;
  top: 4px;
  left: 0;
  background: black;
}
.header-right span:after{
  top: 14px;
}
.header-right{
  width: 70%;
  text-align: right;
}
#open{
  display: none;
}
h1{
  font-weight: 300;
  line-height: 40px;
}
a{
  text-decoration: none;
  color: white;
}
nav>a{
  position: relative;
  display: inline-block;
  font-size: 13px;
  line-height: 40px;
  padding: 0 2em;
  -webkit-transition: all .3s ease;
}
nav>a:hover{
  background: rgba(255,255,255,.9);
  color: black;
}
.hidden-desktop{
  display: none;
}
section{
  width: 100%;
  height: auto;
  background-image: -webkit-linear-gradient(#80059E 0%, #550486 100%);
}
.section-left,
.section-right{
  float: left;
}
.section-left{
  width: 70%;
  padding: 3em 0;
}
.section-right{
  width: 30%;
}
.section-title,
.section-tagline{
  color: white;
  font-weight: 300;
  margin: 0;
  padding: 0;
  -webkit-transition: all .4s ease;
}
.section-title{
  font-size: 4em;
  margin-bottom: .3em;
  text-shadow: 0 3px 0px black,
         0 4px 0px rgba(150,150,150,.5);
}
.section-tagline{
  font-size: 1em;
}
.learn-more{
  display: table;
  margin: 3em auto 0;
  padding: 1em 6em;
  cursor: pointer;
  border-radius: 3px;
  box-shadow: inset 0 -3px 0 rgba(0,0,0,.8);
  background: #EAAF00;
  background-image: -webkit-linear-gradient(#EAAF00 0%, #D78100 100%);
  font-size: 1.2em;
}
.learn-more:hover{
  background: #EAAF00;
}
.learn-more:active{
  box-shadow: inset 0 2px 0 rgba(0,0,0,.8);
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  .box{
    width: 49%;
    margin-bottom: 5%;
  }

  ul li:nth-child(3) .box{
    clear: both;
  }

  ul li:nth-child(2n) .box{
    margin-right: 0;
    clear: right;
  }
}

/* Small monitor */
@media (max-width: 979px){
  nav>a{
    padding: 0 1.5em;
  }
  .section-left,
  .section-right{
    width: 100%;
  }
  .section-left{
    text-align: center;
  }
  .section-right{
    padding: 0 0 2em;
  }
  .section-title{
    font-size: 4em;
    margin-bottom: .2em;
  }
  .section-tagline{
    font-size: 1.3em;
  }
  .learn-more{
    margin: 0 auto;
  }
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .container{
    width: 95%;
  }
  nav>a{
    padding: 0 2em;
  }
  h1{
    padding: .5em 0;
  }
  .header-left,
  .header-right{
    width: 100%;
    text-align: center;
  }
  .section-left,
  .section-right{
    width: 100%;
  }
  .section-left{
    text-align: center;
    padding: 2em 0;
  }
  .section-right{
    padding: 1em 0 2em;
  }
  .section-title{
    font-size: 3em;
    margin-bottom: .2em;
  }
  .section-tagline{
    font-size: 1.3em;
  }
  .learn-more{
    margin: 0 auto;
  }
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
  body{
    padding: 0 .5em;
  }
  .container{
    width: 90%;
  }
  nav{
    height: 0;
    overflow: hidden;
    -webkit-transition: all .3s ease;
  }
  input[type="checkbox"]:checked + nav{
    height: 205px;
  }
  nav>a{
    padding: 0 1em;
    display: block;
    border-bottom: solid 1px rgba(255,255,255,.1);
  }
  h1{
    padding: .5em 0;
  }
  .header-left,
  .header-right{
    width: 100%;
    text-align: center;
  }
  .section-left,
  .section-right{
    width: 100%;
  }
  .section-left{
    text-align: center;
    padding: 1em 0;
  }
  .section-right{
    text-align: center;
    padding: 1em 0 2em;
  }
  .section-title{
    font-size: 2.4em;
    margin-bottom: 0;
  }
  .section-tagline{
    font-size: 1em;
  }
  .learn-more{
    display: table;
    margin: 0 auto;
  }
  .hidden-desktop{
    display: block;
  }
}
a.learn-more { 
font-family: 'Stint Ultra Condensed', cursive;

text-decoration: none;
color: #FFF;
background: #08C;

}
.fa.fa-check-square {
padding-right: 19px;
}
nav {
  width: 960px;
  height: 100px;
  margin: 120px auto;
  text-align: center;
  margin-top: 30px;
}
.top-menu li {
  display: inline-block;
  text-align: center;
  margin: 30px 5px;
  position: relative;
  -webkit-transition: all 0.3s ease; 
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.top-menu li:hover {
  margin: 30px 20px; 
}
.top-menu li:active {
  margin: 30px 33px; 
}
.top-menu li a  {
  width: 100px;
  height: 100px;
  z-index: 9999;
  position: absolute;
  top: 35px;
  font-weight: bold;
  display: block;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  text-shadow: 0px 1px 1px rgba(0,0,0,0.4), 0px 4px 6px rgba(0,0,0,0.1), 0px 9px 11px rgba(0,0,0,0.1);
  -webkit-transition: all 0.1s linear; 
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
}
.top-menu li:active a {
  font-size: 26px;
  top: 30px;
  text-shadow: none;
}
.top-menu li div.menu-item {  
  width: 100px;
  height: 100px;
  display: block;
  -webkit-transition: all 0.2s ease; 
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-border-top-left-radius: 100px; 
  -webkit-border-bottom-right-radius: 100px; 
  -moz-border-radius-topleft: 100px; 
  -moz-border-radius-bottomright: 100px; 
  border-top-left-radius: 100px; 
  border-bottom-right-radius: 100px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
.top-menu li:hover div.menu-item{ 
  -webkit-border-top-left-radius: 80px; 
  -webkit-border-bottom-right-radius: 80px; 
  -moz-border-radius-topleft: 80px; 
  -moz-border-radius-bottomright: 80px; 
  border-top-left-radius: 80px; 
  border-bottom-right-radius: 80px; 
    -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -o-transform: rotate(225deg);
}
.top-menu li:active div.menu-item{ 
  -webkit-border-top-left-radius: 50px; 
  -webkit-border-bottom-right-radius: 50px; 
  -moz-border-radius-topleft: 50px; 
  -moz-border-radius-bottomright: 50px; 
  border-top-left-radius: 50px; 
  border-bottom-right-radius: 50px; 

}
#home { background: #41D05F; }
#cataloge { background: #E42B2B; }
#price { background: #ff8400; }
#about { background: #a800ff; }
#contact { background: #49a7f3; }
</style>

